@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroyextrabold.woff') format('woff');
  src: url('../fonts/gilroyextrabold.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
  src: url('../fonts/gilroylight.woff') format('woff');
  src: url('../fonts/gilroylight.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensanslight.woff') format('woff');
  src: url('../fonts/opensanslight.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans.woff') format('woff');
  src: url('../fonts/opensans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 0.01em;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
  font: inherit;
  letter-spacing: 0.2em;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn:not(.btn-search):active {
  color: rgba(0, 0, 0, 0.3);
}

.btn:not(.btn-search)::before {
  position: absolute;
  top: 15px;
  left: 0;
  z-index: -1;
  content: '';
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
}

.btn:not(.btn-search):hover::before,
.btn:not(.btn-search):focus::before {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* HEADER START */

.main-header {
  width: 1160px;
  padding: 0 60px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f7e296;
  color: #000000;
}

.logo {
  position: relative;
  top: -24px;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #000000;
}

.logo:hover,
.logo:focus {
  color: rgba(0, 0, 0, 0.6);
}

.logo:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  margin-bottom: 15px;
  position: relative;
  top: -15px;
}

.header-bottom {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 1160px;
  position: relative;
  background-color: #f7e296;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 35px;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-transform: none;
  margin: 0;
  padding: 0;
  left: -60px;
  padding-left: 60px;
}

.catalog-menu:hover,
.catalog-menu:focus {
  opacity: 1;
  visibility: visible;
}

.main-menu-link:hover+.catalog-menu,
.main-menu-link:focus+.catalog-menu {
  width: 1100px;
  background-color: #f7e296;
  opacity: 1;
  visibility: visible;
}

.catalog-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-right: 60px;
}

.catalog-menu a {
  display: block;
}

.search-form {
  width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-input {
  background-color: transparent;
  border: none;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  height: 50px;
  border-bottom: 2px solid transparent;
  -webkit-transition: max-width 1.75s, border 0.3s;
  -o-transition: max-width 1.75s, border 0.3s;
  transition: max-width 1.75s, border 0.3s;
  width: auto;
}

.search-input:focus {
  width: 335px;
  border-color: #000000;
}

.search-input::-webkit-input-placeholder {
  opacity: 0.3;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.search-input:-ms-input-placeholder {
  opacity: 0.3;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.search-input::-ms-input-placeholder {
  opacity: 0.3;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.search-input::placeholder {
  opacity: 0.3;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-search {
  opacity: 0;
  visibility: hidden;
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-transform: none;
  background-color: transparent;
  line-height: 46px;
  padding: 0 20px;
  border: 2px solid black;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.btn-search:active {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:focus+.btn-search {
  opacity: 1;
  visibility: visible;
}

.user-activity {
  width: 500px;
}

.user-activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  height: 50px;
  line-height: 50px;
}

.user-activity-link {
  padding-left: 25px;
}

.user-activity-item:first-child {
  margin-right: auto;
}

.user-activity-item:nth-child(2) {
  margin-right: 38px;
}

.user-activity-list,
.main-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.login {
  background-image: url('../img/user.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.logout {
  opacity: 0.3;
}

.compare {
  background-image: url('../img/compare.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.cart {
  background-image: url('../img/cart.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.user-activity a,
.main-menu a,
.catalog-menu a {
  color: #000000;
}

.user-activity a:hover,
.user-activity a:focus,
.main-menu a:hover,
.main-menu a:focus,
.catalog-menu a:hover,
.catalog-menu a:focus {
  opacity: 0.6;
}

.user-activity a:active,
.main-menu a:active,
.catalog-menu a:active {
  opacity: 0.3;
}

.main-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.main-menu-link::before,
.main-menu-link::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 2px;
  background-color: #b8a974;
  top: 10px;
  left: 230px;
}

.main-menu-link::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.main-menu-item:first-child {
  width: calc(100% - 500px);
  position: relative;
}

.main-menu-item:nth-child(2) {
  margin-right: 34px;
  position: relative;
}

.main-menu-item:nth-child(2)::after {
  position: absolute;
  content: '';
  width: 100px;
  height: 7px;
  background-color: #fff;
  top: 112px;
  left: 0;
}

.main-menu-item:last-child {
  margin-left: auto;
}

/* HEADER END */

/* MAIN START */

.slider-wrap {
  position: relative;
  top: -160px;
  margin-bottom: -51px;
}

.slider-checker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 80px;
  position: absolute;
  top: 337px;
  right: 82px;
  margin: 0;
  padding: 0;
  z-index: 5;
}

.slider-checker label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-list li {
  list-style: none;
}

.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 100%;
  visibility: hidden;
}

.slider-item img {
  position: relative;
  top: 12px;
  right: 17px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.slider-item+.slider-item {
  position: absolute;
  top: 0;
  left: 0;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  visibility: visible;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  visibility: visible;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  visibility: visible;
}

#product-1:checked~.slider-checker .slider-checker-item--1::before,
#product-2:checked~.slider-checker .slider-checker-item--2::before,
#product-3:checked~.slider-checker .slider-checker-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 6;
  width: 6px;
  height: 6px;
  margin: -3px;
  background-color: inherit;
  border: 1px solid #000000;
  border-radius: 50%;
}

.black {
  background-color: #000000;
  color: #f7e296;
  z-index: 4;
}

.slide-1::after {
  position: absolute;
  top: 77px;
  right: 48px;
  content: '01';
  font-size: 180px;
  color: #ffffff;
}

.slide-2::after {
  position: absolute;
  top: 77px;
  right: 48px;
  content: '02';
  font-size: 180px;
  color: #ffffff;
}

.slide-3::after {
  position: absolute;
  top: 77px;
  right: 48px;
  content: '03';
  font-size: 180px;
  color: #ffffff;
}

.slider-item img {
  margin: 0 auto;
}

.slider-info {
  position: relative;
  z-index: 3;
  padding: 91px 0 0 0;
  width: 562px;
  z-index: 3;
}

.slider-info a {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 50px;
  width: 221px;
}

.slider-item h3 {
  font-size: 48px;
  font-weight: 900;
  color: #000000;
  margin: 0;
  padding: 0;
  line-height: 1.18;
  letter-spacing: .1px;
  margin-bottom: 20px;
}

.slider-desc {
  width: 485px;
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000;
  margin-bottom: 42px;
  margin-top: 0;
}

.product-table tr {
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 36px;
  line-height: 38px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.product-table td {
  font: inherit;
  padding-right: 74px;
  padding-bottom: 10px;
}

.product-table th {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-align: left;
}

.categories {
  margin-bottom: 262px;
  padding-top: 2px;
}

.categories-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.categories-list li {
  list-style: none;
}

.categories-list strong {
  display: block;
}

.categories-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  color: #000000;
}

.categories-list a:hover,
.categories-list a:focus {
  background-color: #f0c52e;
}

.categories-list a:active {
  opacity: 0.3;
}

.categories-list .categories-img-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.categories-list strong {
  display: block;
  position: absolute;
  top: calc(100% + 33px);
  left: 0;
}

.services {
  background-color: #e5e5e5;
  color: #000000;
  margin-bottom: 105px;
}

.services .container {
  padding-bottom: 90px;
  margin: 0 auto;
}

.services-menu {
  position: relative;
  top: -19px;
  margin: 0;
  padding: 0;
}

.services-menu::before {
  position: absolute;
  top: -80px;
  left: 277px;
  content: '';
  display: block;
  width: 7px;
  height: 320px;
  background-color: #000000;
}

.services-menu li {
  list-style: none;
  margin-bottom: 24px;
}

.services-menu-link {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 160px;
  /*color: #000000;*/
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.services-content {
  position: absolute;
  width: 460px;
  top: -55px;
  left: 400px;
  visibility: hidden;
}

.delivery::before {
  position: absolute;
  top: 60px;
  right: -235px;
  content: '';
  width: 136px;
  height: 164px;
  background-image: url('../img/delivery.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.warranty::before {
  position: absolute;
  top: 35px;
  right: -255px;
  content: '';
  width: 171px;
  height: 195px;
  background-image: url('../img/warranty.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.credit::before {
  position: absolute;
  top: 35px;
  right: -255px;
  content: '';
  width: 156px;
  height: 188px;
  background-image: url('../img/credit.svg');
  background-repeat: no-repeat;
  background-position: center;
}

#checker-1:checked~#delivery {
  visibility: visible;
}

#checker-2:checked~#warranty {
  visibility: visible;
}

#checker-3:checked~#credit {
  visibility: visible;
}

#checker-1:checked~label[for="checker-1"],
#checker-2:checked~label[for="checker-2"],
#checker-3:checked~label[for="checker-3"] {
  width: 280px;
  background-color: #000;
  color: #f7e184;
  text-align: left;
  padding: 0 20px;
}

#checker-1:checked~label[for="checker-1"]::before,
#checker-2:checked~label[for="checker-2"]::before,
#checker-3:checked~label[for="checker-3"]::before {
  content: none;
}

.black-link {
  width: 280px;
  background-color: #000000;
  color: #f7e296;
}

.services-content h3 {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  margin-bottom: 30px;
}

.services-desc {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
}

.brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 95px;
  list-style: none;
}

.brands-item {
  position: relative;
}

.brands-item .color-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.brands-item:hover img {
  opacity: 1;
  visibility: visible;
}

.index-colls h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}

.index-colls p {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.index-colls .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}

.about-us {
  width: 480px;
}

.contacts {
  width: 560px;
}

.about-us h2 {
  position: relative;
}

.contacts h2 {
  position: relative;
}

.about-us h2::before,
.contacts h2::before {
  position: absolute;
  top: -52px;
  left: 0;
  content: '';
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us h2,
.contacts h2 {
  margin-bottom: 42px;
}

.about-us p {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: .05px;
}

.contacts p {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 38px;
}

.map-link {
  display: block;
  width: 560px;
  height: 222px;
  background-color: #eeeeee;
}

.about-us ul {
  margin: 73px 0 62px;
  padding-left: 0;
  list-style: none;
}

.about-us li {
  position: relative;
  margin-bottom: 17px;
  padding-left: 35px;
  letter-spacing: .2px;
  font-size: 16px;
}

.about-us li:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  left: 0;
  top: calc(50% - 4px);
}

.about-us .btn {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 83px;
  letter-spacing: 3.3px;
}

.contacts a {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 70px;
}

.contacts .btn {
  min-width: 260px;
  margin-bottom: 81px;
}

/* MAIN END */

/* FOOTER START */

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.main-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 57px;
  padding-bottom: 65px;
  margin: 0 auto;
}

.footer-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  max-width: 100%;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer .logo-yellow {
  display: block;
  min-width: 167px;
  color: #ffc600;
  position: static;
  margin-bottom: 24px;
}

.main-footer .logo-yellow:hover,
.main-footer .logo-yellow:focus {
  color: rgba(255, 198, 0, 0.6);
}

.main-footer .logo-yellow:active {
  color: rgba(255, 198, 0, 0.3);
}

.main-footer address {
  position: relative;
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: .06px;
}

.main-footer address::before {
  position: absolute;
  top: 105px;
  left: 0;
  content: '';
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.main-footer li {
  list-style: none;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 427px;
  margin: 0;
  margin-bottom: 57px;
  line-height: 36px;
  margin-right: 34px;
  padding: 0;
}

.footer-rows .menu-list li+li {
  margin-left: 25px;
}

.menu-list a {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu-list a {
  letter-spacing: 0.2em;
}

.social-networks {
  width: 100%;
  margin-left: auto;
  transform: translate(1%);
}


.social-networks-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 160px;
  margin: 0 auto;
  padding: 0;
}

.social-networks-link {
  display: block;
  width: 32px;
  height: 32px;
  background-color: #7e7e7e;
  border-radius: 50%;
  opacity: 0.3;
}

.social-networks-link:hover,
.social-networks-link:focus {
  opacity: 0.6;
}

.social-networks-link:active {
  opacity: 0.1;
}

.facebook {
  background-image: url('../img/facebook.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.instagram {
  background-image: url('../img/instagram.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.twitter {
  background-image: url('../img/twitter.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.footer-user-activity a {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 35px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-activity a:hover,
.footer-user-activity a:focus {
  opacity: 1;
}

.footer-user-activity a:active {
  opacity: 0.3;
}

.login-orange {
  background-image: url('../img/user-orange.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.compare-orange {
  background-image: url('../img/compare-orange.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.cart-orange {
  background-image: url('../img/cart-orange.svg');
  background-repeat: no-repeat;
  background-position: left;
}

.phone {
  display: inline-block;
  vertical-align: top;
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  font-style: normal;
  margin-bottom: 62px;
}

.phone a {
  color: rgba(255, 255, 255, 0.7);
}

.creator {
  display: block;
  width: 27px;
  height: 35px;
  background-image: url('../img/logo-html.svg');
  background-repeat: no-repeat;
  background-position: center;

  margin-left: auto;
}

.creator:hover,
.creator:focus {
  opacity: 0.6;
}

.creator:active {
  opacity: 0.3;
}

.text-align-right {
  text-align: right;
}

/* FOOTER END */

/*MODAL START*/

.modal {
  position: fixed;
  z-index: 10;
}

.write-us {
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 120px;
  left: 50%;
  width: 962px;
  height: 554px;
  background-color: #ffffff;
  color: #000000;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  margin-left: -481px;
  padding: 95px 100px;
}

.map {
  display: none;
  top: 120px;
  left: 50%;
  width: 960px;
  height: 560px;
  background-image: url('../img/map-big.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  margin-left: -480px;
}

.modal-close {
  position: absolute;
  top: 23px;
  right: 23px;
  width: 55px;
  height: 55px;
  font-size: 0;
  cursor: pointer;
  background-color: #f0c52e;
  opacity: 0.5;
  border: none;
  border-radius: 50%;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  top: 26px;
  left: 11px;
  content: '';
  width: 33px;
  height: 2px;
  background-color: #ffffff;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.feedback-form {
  margin: 0;
  padding: 0;
}

.feedback-form p {
  margin: 0;
}

.feedback-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feedback-inputs p {
  width: 360px;
  margin-bottom: 35px;
}

.feedback-form label,
.feedback-form input {
  display: block;
  margin-bottom: 10px;
}

.feedback-form input,
.feedback-form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
  background-color: #f2f2f2;
  opacity: 0.5;
  border: none;
  padding: 10px 20px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  opacity: 1;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  background-color: #ffffff;
  border: 2px solid #f7e296;
  outline: none;
  /* вернуть позже и сделать доступным */
}

.feedback-form input:invalid {
  background-color: #f6dada;
}

.feedback-form textarea {
  width: 100%;
  height: 155px;
  margin-bottom: 40px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal-content-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

/*MODAL END*/

/*CATALOG PAGE START*/

.catalog-page .main-header {
  margin-bottom: 37px;
}

.catalog-page .user-activity-item {
  letter-spacing: .05px;
}

.catalog-page .user-activity-item:first-child {
  margin-left: 0;
  margin-right: 0;
}

.catalog-page .user-activity-item:nth-child(2) {
  margin-left: 0;
}

.catalog-page .user-activity-item:last-of-type {
  margin-left: auto;
}

.catalog-page .user-activity-item {
  margin-left: 20px;
}

.footer-user-activity {
  width: 326px;
}

.footer-user-activity .compare {
  margin-left: -2px;
}

.catalog-page .footer-user-activity {
  width: 477px;
}

.header-top .user-activity-list {
  line-height: 50px;
  height: 50px;
}

.footer-user-activity .user-activity-list {
  line-height: 41px;
  height: 37px;
  margin-bottom: 30px;
}

.catalog-page button {
  cursor: pointer;
}

.catalog-container h1 {
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 23px;
}

.catalog-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 80px;
}

.catalog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08) 70px, #fff 70px, #fff 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08) 70px, #fff 70px, #fff 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08) 70px, #fff 70px, #fff 100%);
}

.header-bottom-catalog {
  padding-bottom: 50px;
}

.catalog-menu-small {
  position: absolute;
  top: 100%;
  left: -60px;
  max-height: 300px;
  width: 1160px;
  padding-left: 60px;
}

.main-menu-link:hover+.catalog-menu-small {
  max-height: 300px;
  width: 1160px;
}

.aside-filters {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  background-color: #efefef;
  color: #000000;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, .08);
}

.aside-content {
  width: 328px;
  margin-left: auto;
  padding: 0 60px 0 56px;
}

.sorting-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 385px;
  font-family: 'open_sansregular', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}

.breadcrumbs li {
  position: relative;
  list-style: none;
}

.breadcrumbs li:not(:last-child)::after {
  position: absolute;
  top: 10px;
  right: -18px;
  content: '';
  width: 4px;
  height: 7px;
  background-image: url('../img/nav-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.aside-filters {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  background-color: #efefef;
  color: #000000;
}

.aside-header {
  height: 70px;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08) 75px, #fff 70px, #fff 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08) 75px, #fff 70px, #fff 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, .08), rgba(0, 0, 0, .08) 75px, #fff 70px, #fff 100%);
}

.aside-filters h2 {
  width: 200px;
  height: 72px;
  margin: 0 70px 0 auto;
}

.aside-filters h2,
.sorting h2 {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  height: 70px;
  line-height: 70px;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-form legend,
.filter-form h3 {
  width: 100%;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  border-top: 2px solid black;
  padding-top: 10px;
  padding-bottom: 15px;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 33px;
}

.price-checker h3 {
  padding-top: 10px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.range-controls {
  display: block;
  position: relative;
  margin-bottom: 68px;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:active {
  width: 22px;
  height: 22px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-price-min {
  width: 28px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 0;
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.range-toggle-price-max {
  width: 60px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: -30px;
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.range-toggle-max {
  left: 53%;
}

.range-controls .scale {
  height: 2px;
  background-color: #dbdbdb;
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background: #91c92f;
}

.filter-form p {
  margin: 0;
  padding: 0;
}

.filter-form label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-form input[type="checkbox"]+label::before {
  position: absolute;
  top: 10px;
  left: 2px;
  content: '';
  width: 23px;
  height: 23px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.filter-form input[type="checkbox"]:checked+label::before,
.filter-form input[type="checkbox"]~label:active:before {
  content: "";
  top: 10px;
  left: 2px;
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.filter-form input[type="radio"]:checked+label::before,
.filter-form input[type="radio"]+label::before {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  top: 7px;
  left: 0;
  width: 25px;
  height: 25px;
  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-form input[type="radio"]:checked+label::after {
  content: "";
  top: 15px;
  left: 8px;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000000;
}

.filter-form input[type="checkbox"]~label,
.filter-form input[type="radio"]~label {
  padding-left: 41px;
}

.filter-form input[type="checkbox"]~label:hover,
.filter-form input[type="radio"]~label:hover {
  opacity: 0.6;
}

.filter-form input[type="checkbox"]~label:active,
.filter-form input[type="radio"]~label:active {
  opacity: 1;
}

.filter-form input[type="checkbox"]:disabled~label,
.filter-form input[type="radio"]:disabled~label {
  opacity: 0.25;
}

.filter-form input[type="checkbox"]:checked+label:active::after {
  content: none;
}

.filter-form input[type="checkbox"]:checked+label:active::before {
  background-image: none;
  border: 2px solid #000000;
  width: 23px;
  height: 23px;
}

.filter-form input[type="checkbox"]:focus+label,
.filter-form input[type="radio"]:focus+label {
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
}

.btn-show {
  width: 100%;
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sorting {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 70px;
  margin-right: auto;
}

.sorting h2 {
  margin: 0 49px 0 0;
  padding: 0;
  letter-spacing: 3.8px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 300px;
  font-family: 'open_sansregular', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto 0 0;
  padding: 0;
  height: 70px;
  line-height: 70px;
}

.sorting-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-list li:nth-child(2) {
  margin-left: -13px;
}

.sorting-link {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-link:hover,
.sorting-link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-link:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-link-current {
  color: rgba(0, 0, 0, 1);
}

.sorting-btn {
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.sorting-btn:hover,
.sorting-btn:focus {
  opacity: 0.4;
}

.sorting-btn:active,
.sorting-btn-current {
  opacity: 1;
}

.btn-up {
  margin-right: 15px;
  background-image: url('../img/triangle-up.svg');
}

.btn-down {
  background-image: url('../img/triangle-down.svg');
}

.catalog {
  width: 760px;
  margin-top: 70px;
  margin-left: 70px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 41px;
  list-style: none;
  overflow: hidden;
}

.catalog-item:last-child,
.catalog-item:nth-last-child(2) {
  margin-bottom: 38px;
}

.catalog-item img {
  display: block;
  height: 380px;
  background-color: #eeeeee;
  margin-bottom: 34px;
}

.catalog-item-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
}

.catalog-item:hover .catalog-item-action {
  opacity: 1;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.product-new::before {
  position: absolute;
  top: 30px;
  right: 25px;
  content: 'new';
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 60px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.2;
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 3px solid #a6a6a6;
  border-radius: 50%;
}

.catalog-list h3 {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  margin: 0;
}

.catalog-list a {
  color: #000000;
}

.btn-compare {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #000000;
  opacity: 0.5;
}

.btn-compare:hover,
.btn-compare:focus {
  opacity: 1;
}

.btn-compare:active {
  opacity: 0.2;
}

.price {
  min-width: 80px;
  margin-left: 20px;
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
  text-align: right;
}

.pagination {
  font-size: 16px;
  letter-spacing: 0.2em;
  background-color: #ebebeb;
  color: #000000;
  text-transform: uppercase;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  height: 70px;
  line-height: 70px;
  margin: 0;
  padding: 0;
  margin-bottom: 76px;
}

.pagination-link {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item:first-child {
  margin-left: 0;
  margin-right: auto;
  padding-left: 31px;
  padding-right: 25px;
}

.pagination-item:last-child {
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.pagination-link-active {
  color: rgba(0, 0, 0, 1);
}

.pagination-item:first-child:hover,
.pagination-item:first-child:focus,
.pagination-item:last-child:hover,
.pagination-item:last-child:focus {
  background-color: #d9d9d9;
}

.pagination-link:first-child:active,
.pagination-link:last-child:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list li {
  list-style: none;
  margin-right: 30px;
}

.pagination-list li:nth-child(2) {
  margin-left: 39px;
}

.pagination-list li:last-child {
  margin-right: 0;
}

/*CATALOG PAGE END*/
