@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
  src: url('../fonts/gilroylight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;

  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 0.01em;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font: inherit;
  letter-spacing: 0.2em;
  
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  
  border: none;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

/* HEADER START */
.main-header {
  width: 1160px;
  padding: 0 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  background-color: #f7e296;
  color: #000000;
}

.logo {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  position: relative;
  top: -23px;
}

.logo:hover,
.logo:focus {
  color: rgba(0, 0, 0, 0.6);
}

.logo:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.header-bottom {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-menu {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 35px;
  font-weight: 300;
  letter-spacing: 0.01em;
  text-transform: none;
}

.search-form {
  width: 440px;
}

.user-activity {
  width: 500px;
}

.user-activity-list,
.main-menu-list,
.catalog-menu {
  list-style: none;
}


.user-activity a,
.main-menu a,
.catalog-menu a {
  color: #000000;
}

.user-activity a:hover,
.user-activity a:focus,
.main-menu a:hover,
.main-menu a:focus,
.catalog-menu a:hover,
.catalog-menu a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-activity a:active,
.main-menu a:active,
.catalog-menu a:active {
  color: rgba(0, 0, 0, 0.3);
  }

/* HEADER END */

/* MAIN START */
.slider {
  margin-bottom: 115px;
}

.slider-list li {
  list-style: none;
}

.slider-item h3 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
  letter-spacing: 0.01em;
  color: #000000;
}

.slider-desc {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000000;
}

.product-table tr {
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 36px;
  line-height: 38px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.product-table th {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.categories {
  margin-bottom: 180px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
}

.categories-list li {
  list-style: none;
}

.categories-list a {
  color: #000000;
}
.categories-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services {
  background-color: #e5e5e5;
  color: #000000;
  
  margin-bottom: 95px;
}

.services-menu li {
  list-style: none;

}
.services-menu a {
  color: #000000;
  letter-spacing: 0.2em;
}

.services-content h3{
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
}

.services-desc {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.brands-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.index-colls h2 { 
  font-size: 48px;
  line-height: 48px;
}

.index-colls p {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.index-colls .container {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 480px;
}

.contacts {
  width: 560px;
}

/* MAIN END */

/* FOOTER START */

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.main-footer .container {
  display: flex;
  justify-content: flex-end;
  padding-top: 65px;
  padding-bottom: 65px;
}

.footer-colls:nth-child(1) {
  width: 260px;
  margin-right: auto;
}

.footer-colls:nth-child(2) {
  width: 440px;
}

.footer-colls:nth-child(3) {
  width: 360px;
}

.main-footer a {
  color: #ffffff;
}

.main-footer a:hover,
.main-footer a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.main-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer .logo-yellow {
  color: #ffc600;
}

.main-footer .logo-yellow:hover,
.main-footer .logo-yellow:focus {
  color: rgba(255, 198, 0, 0.6);
}

.main-footer .logo-yellow:active {
  color: rgba(255, 198, 0, 0.3); 
}

.main-footer address {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
  
  color: #ffffff;
}

.main-footer li {
  list-style: none;
}

.menu-list a {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.menu-list a {
  letter-spacing: 0.2em;
}

.main-footer .user-activity a {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 35px;
  font-weight: 300;
  
  color: rgba(255, 255, 255, 0.7);
}

.main-footer .user-activity a:hover, 
.main-footer .user-activity a:focus {
  color: rgba(255, 255, 255, 1);
}

.main-footer .user-activity a:active {
  color: rgba(255, 255, 255, 0.3);
}

/* FOOTER END */

/*MODAL START*/

.feedback-form input{
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
  
  background-color: #F2F2F2;
  border: none;
}

.feedback-form input:hover {
  opacity: 0.8;
}

.feedback-form input:focus {
  background-color: #ffffff;
  border: 2px solid #f7e296;
  outline: none; /* вернуть позже и сделать доступным */
}


/*MODAL END*/

/*CATALOG PAGE START*/

.container h1 {
  font-size: 48px;
  line-height: 48px;
}

.catalog-wrap {
  display: flex;
}

.aside-filters {
  width: 470px;
}

.aside-content {
  width: 200px;
  margin-right: 70px;
  margin-left: auto;
}

.sorting-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sorting {
  background-color: #ebebeb;
}


.breadcrumbs {
  font-family: 'open_sansregular', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.aside-filters {
  font-family: 'open_sanslight', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  
  background-color: #efefef;
  color: #000000;
}

.aside-filters h2,
.sorting h2 {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-form legend {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
}

.sorting-list {
  font-family: 'open_sansregular', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list li {
  list-style: none;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog {
  padding-top: 70px;
  padding-left: 70px;
}

.catalog-list h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
}

.price {
  font-family: 'gilroylight', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
}

.catalog-list li {
  list-style: none;
}

.pagination {
  font-size: 16px;
  letter-spacing: 0.2em;
  background-color: #ebebeb;
  color: #000000;
  text-transform: uppercase;
}

.pagination-list li {
  list-style: none;
}

.pagination-list a {
  color: #000000;
}
/*CATALOG PAGE END*/



